<nav>
    <div class="left">
        <div class="left-left">
            <ion-icon name="logo-apple"></ion-icon>
            <a href="">Apple</a>
        </div>
        <div class="left-right">
            @for (linkItem of linkItems; track linkItem.id) {
                <app-link-item [linkItem]="linkItem" />
            }
            <app-link-item [linkItem]="linkItems[0]" />
        </div>
    </div>
    <div class="right">
        <a href="">Log in</a>
        <a href="" class="button">Get Started</a>
    </div>
</nav>

