<nav>
    <div class="left">
        <div class="left-left">
            <ion-icon name="logo-apple"></ion-icon>
            <a href="">Apple</a>
        </div>
        <div class="left-right">
            <a href="">Pricing</a>
            <a href="">Features</a>
            <a href="">Solutions</a>
            <a href="">Resources</a>
            <a href="">About us</a>
        </div>
    </div>
    <div class="right">
        <a href="">Log in</a>
        <a href="" class="button">Get Started</a>
    </div>
</nav>
