<nav>
    <div class="left">
        <div class="left-left">
            <ion-icon name="logo-apple"></ion-icon>
            <a href="">Apple</a>
        </div>
        <div class="left-right">
            @for (linkItem of linkItems; track linkItem.id) {
                <app-link-item [linkItem]="linkItem" />
            }
            <app-link-item [linkItem]="linkItems[0]" />
        </div>
    </div>
    <div class="right">
        <a href="">Log in</a>
        <a href="" class="button">Get Started</a>
    </div>
</nav>

<section id="hero">
    <h2>Meet the team that makes <br> the magic happen</h2>
    <p>Meet our diverse team of world-class creators, designers, and problem solvers</p>
</section>

<section id="team">
    <div class="category">
        @for ( category of categories; track category.id) {
            <app-category-item [category]="category" [selectedCategoryItem]="category.id === selectedCategoryItem" (selectedCategory)="onSelectedCategory($event)"/>
        }
    </div>


</section>