nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem;
}

nav .left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav .left .left-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav .left .left-left ion-icon {
    font-size: 25px;
}

nav .left .left-left  {
    font-weight: 600;
}

nav .left .left-right {
    display: flex;
    gap: 1.5rem;
}

nav .right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .right .button {
    background-color: black;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}