<app-navbar />

<section id="hero">
    <h2>Meet the team that makes <br> the magic happen</h2>
    <p>Meet our diverse team of world-class creators, designers, and problem solvers</p>
</section>

<section id="team">
    <div class="category">
        @for ( category of categories; track category.id) {
            <app-category-item [category]="category" [selectedCategoryItem]="category.text === selectedCategoryCareer" (selectedCategory)="onSelectedCategory($event)"/>
        }
    </div>

    <div class="team-members">
        @for ( user of selectedCareerArray; track user.id ) {
            <app-team-member [user]="user" />
        }
    </div>
    
</section>