<nav>
    <div class="left">
        <h2>Boitumelo Mkhwanazi</h2>
        <span>Welcome back, let's explore now</span>
    </div>
    <div class="right">
        <div class="search-bar">
            <ion-icon name="search-outline"></ion-icon>
            <input type="text" id="" placeholder="Search here">
        </div>
        <div class="mail-container">
            <ion-icon name="mail" class="mail-icon"></ion-icon>
        </div>
        <div class="setting-container">
            <ion-icon name="cog" class="setting-icon"></ion-icon>
        </div>
    </div>
</nav>

<section id="sales">
    <p>Top Sales Representatives</p>
</section>