.sidebar {
    background-color: #F56E0F;
    height: 100vh;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.sidebar .top {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.625rem 0.625rem;
    border-bottom: 1px solid #FBFBFB;
}

.sidebar .top img {
    width: 40px;
}

.sidebar .top h3 {
    color: #FBFBFB;
    font-weight: 400;
}

.sidebar .bottom {
    position: relative;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .sidebar .top h3 {
        display: none;
    }
}

@media screen and (max-width: 699px) {
    .sidebar {
        position: fixed;
        left: -100%;
    }
}