<div class="container">
    <aside class="sidebar">
        <div class="top">
            <img src="jira.png" alt="">
            <h3>Jira</h3>
        </div>
        
        <div class="bottom">
            <a href="#" class="active">
                <img src="overview.png" alt="">
                <span>Overview</span>
            </a>
            <a href="#">
                <img src="star.png" alt="">
                <span>Favorites</span>
            </a>
            <a href="#">
                <img src="users.png" alt="">
                <span>Users</span>
            </a>
            <a href="#">
                <img src="picture-folder.png" alt="">
                <span>Gallery</span>
            </a>
            <a href="#">
                <img src="timeline.png" alt="">
                <span>Timeline</span>
            </a>
            <a href="#">
                <img src="settings.png" alt="">
                <span>Setting</span>
            </a>
            <a href="#">
                <img src="logout.png" alt="">
                <span>Log Out</span>
            </a>
        </div>
    </aside>
    <main class="main">Main</main>
</div>