nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    box-shadow: 5px 0 2px #003100;
}

nav .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
}

nav .desktop .nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

nav .desktop .nav-left ion-icon{
    font-size: 25px;
}

nav .desktop .nav-left span {
    font-size: 20px;
}

nav .desktop .nav-middle ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

nav .desktop .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
} 

nav .desktop .nav-right .log-in {
    padding: 8px 20px;
    border: 2px solid #767676;
    border-radius: 5px;
}

 .nav-right .sign-up {
    background-color: #003100;
    color: white;
    padding: 8px 20px;
    border: 2px solid #767676;
    border-radius: 5px;
}

nav .desktop .menu-button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav .desktop .menu-button .menu-icon,
nav .desktop .menu-button .menu-icon::before,
nav .desktop .menu-button .menu-icon::after {
    background-color: #003100;
    width: 30px;
    height: 3.5px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;
}

nav .desktop .menu-button .menu-icon::before,
nav .desktop .menu-button .menu-icon::after {
    content: "";
}

nav .desktop .menu-button .menu-icon::before {
    transform: translate(-15px, -10px);
}

nav .desktop .menu-button .menu-icon::after {
    transform: translate(-15px, 10px);
}

nav .desktop .menu-button {
    display: none;
}

nav .mobile {
    display: none;
}

@media (max-width: 600px) {
    nav .desktop {
        padding: 1rem 1rem;
    }

    nav .desktop .nav-middle,
    nav .desktop .nav-right {
        display: none;
    }

    nav .desktop .menu-button {
        display: block;
    }

}